$main-slider-color: #76b9b9;
$main-about-color: #e1dccc;
$main-portfolio-color: #e18967;
$main-blog-color: #dfdcda;
$main-contacts-color: #51555c;
$nav-color: #f6edd8;
$section-title-color: #3a3a3a;
$content-portfolio-color: #fbfaf6;
$contacts-link-color: #f6edd8;

@font-face {
  font-family: "Bazar";
  src: url("../fonts/Bazar.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("../fonts/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SeasideResortNF";
  src: url("../fonts/SeasideResortNF.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  font-family: "Times New Roman", Times, serif;
  color: black;
}
.sections {
  border-bottom: 1px solid #919191;
  background-image: url("../pics/noisy.png"), url("../pics/sewing_stitch.png"), url("../pics/sewing_stitch.png");
  background-repeat: repeat, repeat-x, repeat-x;
  background-position: left top, left top, left bottom;
  //image-rendering: pixelated;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
#slider-section {
  background-color: $main-slider-color;
  height: 100vh;
  min-height: 700px;
}
#about-section {
  background-color: $main-about-color;
}
#portfolio-section {
  background-color: $main-portfolio-color;
}
#blog-section {
  background-color: $main-blog-color;
}
#contacts-section {
  background-color: $main-contacts-color;
}

/*region AfkScreen*/
.afk {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(245, 245, 245, 0.50);
  z-index: 999;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p {
    font-size: 30px;
    font-family: RobotoSlab, sans-serif;
    color: black;
    font-weight: bold;
  }

  button {
    border: 2px solid #8d5b3b;
    background-color: $main-portfolio-color;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

    &:hover {
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
  }
}
/*endregion AfkScreen*/

/*region Loader*/
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: whitesmoke url("../pics/noisy.png") repeat;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes scaling{
  0%, 100%{
    transform: scale(0.2);
    background-color: $main-contacts-color;
  }
  40%{
    transform: scale(1);
    background-color: $main-slider-color;
  }
  50%{
    transform: scale(1);
    background-color: $main-portfolio-color;
  }
}

.anim-circle {
  height: 25px;
  width: 25px;
  border-radius:50%;
  transform: scale(0);
  //background-color:red;
  animation: scaling 2.5s ease-in-out infinite;
  display: inline-block;
  margin:.5rem;
}

.anim-circle {
  &:nth-child(0){
    animation-delay:0s;
  }
  &:nth-child(1){
    animation-delay:0.2s;
  }
  &:nth-child(2){
    animation-delay:0.4s;
  }
  &:nth-child(3){
    animation-delay:0.6s;
  }
  &:nth-child(4){
    animation-delay:0.8s;
  }
  &:nth-child(5){
    animation-delay:1s;
  }
}
/*endregion Loader*/

/*region DarkMode*/
.dark-mode {
  background-color: $section-title-color !important;

  header {
    background: $section-title-color !important;
  }
  nav {
    a {
      &:hover {
        color: $main-slider-color !important;
      }
    }
  }

  .progress-bar {
    background-color: whitesmoke !important;
  }

  .about-section__title, .portfolio-section__title, .blog-section__title, .contacts-section__title {
    color: $nav-color;
    text-shadow: 2px 2px 0 $section-title-color, 4px 4px 0 $nav-color;
  }
  .section-description,  .about-section__column-title,
  .about-section__column-description, .about-section__column-text,
  .blog-section__post-name, .blog-section__post-date,
  .blog-section__post-responses,
  .blog-section__post-text, .browse-btn, {
    color: $nav-color;
  }
  .portfolio-section__filter-by {
    color: $nav-color !important;
  }
  .section-browse, {
    color: $nav-color;
  }
  .title-underline {
    border-bottom: 2px solid $nav-color;
    span {
      background-color: $section-title-color !important;
      color: $nav-color;
    }
  }
}
/*endregion DarkMode*/

@media only screen and (min-width: 0) {
  .about-section__title, .portfolio-section__title, .blog-section__title, .contacts-section__title {
    margin: 10px auto;
    font-size: 70px;
    font-family: Bazar, sans-serif;
    color: $section-title-color;
    text-transform: uppercase;
    text-shadow: 2px 2px 0 rgb(255, 255, 255), 4px 4px 0 $section-title-color;
  }
  .contacts-section__title {
    color: $nav-color;
    text-shadow: 2px 2px 0 $section-title-color, 4px 4px 0 $nav-color;
    font-size: 68px;
  }

  .title-underline {
    width: 120px;
    text-align: center;
    border-bottom: 2px solid #000;
    line-height: 0.1em;
    margin: 7px auto 5px auto;
  }
  .section-description {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    color: $section-title-color;
    margin: 4px auto;
  }
  #contacts-section {
    .section-description {
      color: $nav-color;
    }
  }

  /*region Header*/
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: sticky;
    top: 0;
    z-index: 50;
    background-color: $main-slider-color;
    background-image: url("../pics/noisy.png"), url("../pics/sewing_stitch.png");
    background-repeat: repeat, repeat-x;
    background-position: left top, left bottom;
    box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.3);

    nav {
      width: 360px;
      position: sticky;
      top: 0;
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      align-items: center;
      height: 4rem;
      font-size: 13px;
      text-transform: uppercase;
      font-family: Bazar, sans-serif;
      color: #f6edd8;

      a {
        text-decoration: none;
        color: #f6edd8;
        &:hover {
          color: #4e5052;
        }
      }

    }
  }

  .header-logo {
    position: relative;
    z-index: 5;
    height: 5rem;
    width: 5rem;
    margin-top: 1rem;
    background: url("../pics/LogoBG.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-family: SeasideResortNF, sans-serif;
    color: $nav-color;

    &:hover {
      .header-tooltiptext {
        visibility: visible;
      }
    }
  }

  .header-tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: $main-contacts-color;
    color: $content-portfolio-color;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 10px;
    font-family: RobotoSlab, sans-serif;
    text-transform: none;
    position: absolute;
    z-index: 1;
  }

  .progress-container {
    width: 100%;
    height: 5px;
    background-color: transparent;
  }

  .progress-bar {
    width: 0;
    height: 5px;
    background-color: #395B64;
  }

  /*endregion Header*/

  /*#region SliderSection*/
  #slider-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 10px;
  }

  .slider-section__title {
    font-size: 70px;
    font-family: SeasideResortNF, sans-serif;
    color: $nav-color;
    letter-spacing: 4px;
  }

  .slider-section__ribbon-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .slider-section__dots {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 25px 10px 0 10px;
  }
  .dot {
    margin: 10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #FFF1CD;
    box-shadow: gray 1px 1px 0 0;

  }

  /*#region Ribbon*/
  .ribbon {
    width: 280px;
    position: relative;
    z-index: 10;
    margin: 10px;
    text-align: center;
    font-size: 14px;
    background: #FFF1CD;
    background: linear-gradient(to bottom, #FFF1CD, #FFF1CD);
    font-family: Bazar, sans-serif;
    text-transform: uppercase;

    p {
      font-size: 16px;
      color: #474747;
      margin: 0;
      padding: 7px 9px;
    }

    &:before {
      content: '';
      position: absolute;
      display: block;
      bottom: -1em;
      border: 1.5em solid #FFF1CD;
      z-index: -2;
      left: -2em;
      border-left-color: transparent;
      box-shadow: rgba(0, 0, 0, 0.4) 0 2px 1px -1px;
    }
    &:after {
      content: '';
      position: absolute;
      display: block;
      bottom: -1em;
      border: 1.5em solid #FFF1CD;
      z-index: -2;
      right: -2em;
      border-right-color: transparent;
      box-shadow: rgba(0, 0, 0, 0.4) 0 2px 1px -1px;
    }

    .ribbon-content {
      box-shadow: rgba(0, 0, 0, 0.4) 2px 3px 10px 1px;
      padding: 1px 1px;
      &:before {
        border-color: #868686 transparent transparent transparent;
        position: absolute;
        z-index: -1;
        display: block;
        border-style: solid;
        bottom: -1em;
        content: '';
        left: 0;
        border-width: 1em 0 0 1em;
        box-shadow: 2px 0 1px -1px rgba(0, 0, 0, 0.4);
      }
      &:after {
        border-color: #868686 transparent transparent transparent;
        position: absolute;
        z-index: -1;
        display: block;
        border-style: solid;
        bottom: -1em;
        content: '';
        right: 0;
        border-width: 1em 1em 0 0;
        box-shadow: -2px 0 1px -1px rgba(0, 0, 0, 0.4);
      }
    }
  }

  .ribbon-stitches-top {
    margin-top: 2px;
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  }
  .ribbon-stitches-bottom {
    margin-bottom: 2px;
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.3);
  }
  /*#endregion Ribbon*/

  /*#region Slideshow*/
  .slideshow-container {
    background-color: white;
    padding: 10px;
    width: 95%;
    height: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    margin: 30px;
  }

  .slide-container {
    height: 400px;
    width: 100%;
    position: relative;
    margin: auto;
  }

  .slide {
    display: block;
    height: 100%;
    background-image: url("../pics/OldKyivCenter.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .prev, .next {
    z-index: 5;
    background-color: white;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 28px;
    height: 56px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 28px 28px 0;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .prev {
    color: gray;
  }
  .next {
    right: 0;
    border-radius: 28px 0 0 28px;
  }
  #slideshow-title {
    text-align: center;
    font-family: Bazar, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 0 0 0;
  }
  /*#endregion Slideshow*/

  .slider-section__intro {
    margin: 10px auto;
    text-align: center;
    font-size: 18px;
    font-family: Bazar, sans-serif;
    color: $nav-color;
    text-transform: uppercase;
    line-height: 1.4;
  }
  /*#endregion SliderSection*/

  /*#region AboutSection*/
  #about-section {
    .elem-bg-color {
      background: $main-about-color url("../pics/noisy.png") repeat;
      padding: 0 10px;
    }
  }

  .about-section__content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin: 20px 10px; /* change in next mediaQs */

    .about-section__column {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 5px;
    }
  }
  .about-section__icons {
    margin: 5px;

    img {
      height: 150px;
      width: 150px;
    }
  }
  .about-section__column-title {
    margin: 6px;
    font-size: 22px;
    font-family: Bazar, sans-serif;
    color: $section-title-color;
    text-transform: uppercase;
  }
  .about-section__column-description {
    margin: 5px;
    font-size: 16px;
    font-family: RobotoSlab, sans-serif;
    color: $section-title-color;
    text-transform: uppercase;
  }
  .about-section__column-text {
    width: 200px;
    margin: 5px;
    font-size: 14px;
    font-family: RobotoSlab, sans-serif;
    color: $section-title-color;
    p {
      text-wrap: normal;
      text-align: center;
    }
  }
  /*#endregion AboutSection*/

  /*#region PortfolioSection*/
  #portfolio-section {
    .elem-bg-color {
      background: $main-portfolio-color url("../pics/noisy.png") repeat;
      padding: 0 10px;
    }
  }
  .portfolio-section__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
  }

  /*#region Tags*/
  .portfolio-section__tags {
    display: flex;
    //flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 5px;

    .portfolio-section__filter-by {
      margin: auto 5px;
      font-size: 16px;
      font-family: RobotoSlab, sans-serif;
      color: $section-title-color;
      font-weight: normal;
    }

    div {
      margin: 5px 0;
    }

    div, a {
      float: left;
      height: 24px;
      line-height: 24px;
      position: relative;
      font-size: 14px;
      font-weight: bold;
    }
    a {
      margin-left: 20px;
      padding: 0 10px 0 12px;
      background: $content-portfolio-color;
      color: $section-title-color;
      text-decoration: none;
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
      cursor: pointer;

      &:before {
        content: "";
        float: left;
        position: absolute;
        top: 0;
        left: -12px;
        width: 0;
        height: 0;
        border-color: transparent $content-portfolio-color transparent transparent;
        border-style: solid;
        border-width: 12px 12px 12px 0;
      }

      &:after {
        content: "";
        position: absolute;
        top: 10px;
        left: 0;
        float: left;
        width: 4px;
        height: 4px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        background-color: #868686;
      }
    }
  }

  /*#endregion Tags*/

  /*#region Projects*/
  .portfolio-section__projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
  }

  .portfolio-section__project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 210px;
    width: 210px;
    background-color: $content-portfolio-color;
    border-radius: 3px;
    margin: 10px;
    padding: 5px;
  }

  .portfolio-section__project-img {
    height: 145px;
    width: 200px;
    border-radius: 2px;
    background-color: #e3dfd7;
  }
  .portfolio-section__project-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .portfolio-section__project-icon {
    position: relative;
    margin-top: -15px;

    img {
      height: 38px;
      width: 38px;
      background-color: $content-portfolio-color;
      border-radius: 50%;
      padding: 4px;
      margin: 2px;
      /* !! change svg color !! */
    }
  }
  .portfolio-section__project-name {
    position: relative;
    margin-top: -5px;
    font-size: 14px;
    font-family: RobotoSlab, sans-serif;
  }


  /*#endregion Projects*/

  /*#endregion PortfolioSection*/

  /*#region BlogSection*/
  #blog-section {
    .elem-bg-color {
      background: $main-blog-color url("../pics/noisy.png") repeat;
      padding: 0 10px;
    }
  }

  .blog-section__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px;
    max-width: 1000px;
  }

 /*#region Posts*/
  .blog-section__post {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 5px;
  }
  .blog-section__post-img-frame {
    background-color: $content-portfolio-color;
    height: 240px;
    width: 290px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
  }
  .blog-section__post-img {
    height: 230px;
    width: 280px;
    border-radius: 2px;
    background-color: #e3dfd7;
  }
  .blog-section__post-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    flex: 1 1;
    min-width: 330px;
  }
  .blog-section__post-name {
    font-size: 22px;
    font-family: RobotoSlab, sans-serif;
    color: $section-title-color;
    font-weight: bold;
    margin: 5px;
  }
  .blog-section__post-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Oswald, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: $section-title-color;
    font-weight: bold;
    margin: 5px;
    width: 100%;
  }
  .blog-section__post-responses {
    cursor: not-allowed;
  }
  .blog-section__post-text {
    line-height: 1.7;
    margin: 5px;
    text-align: left;
    color: $section-title-color;
    font-size: 16px;
    font-family: RobotoSlab, sans-serif;
  }
  .blog-section__more-btn {
    font-family: RobotoSlab, sans-serif;
    font-size: 12px;
    cursor: not-allowed;
    text-transform: uppercase;
    font-weight: bold;
  }

  /*#endregion Posts*/

  .js-scroll {
    opacity: 0;
    transition: opacity 500ms;
  }

  .js-scroll.scrolled {
    opacity: 1;
  }

  .scrolled.slide-right {
    animation: slide-in-right 1s ease-in-out both;
  }

  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(100px);
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }

  /*#endregion BlogSection*/

  /*#region ContactsSection*/
  #contacts-section {
    .title-underline {
      border-bottom: 2px solid $nav-color;
    }
    .elem-bg-color {
      background: $main-contacts-color url("../pics/noisy.png") repeat;
      padding: 0 10px;
      color: $nav-color;
    }
  }

  /*#region Form*/
  .contacts-section__form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    padding: 5px;
    max-width: 450px;
    flex: 1 1;
  }

  input[type=text], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 18px;
    resize: none;
    font-family: RobotoSlab, sans-serif;
    color: $section-title-color;

    &::placeholder {
      color: lightslategray;
      opacity: .65;
    }
  }

  input[type=submit] {
    background-color: $content-portfolio-color;
    color: $section-title-color;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: RobotoSlab, sans-serif;
    font-size: 16px;
    font-weight: bold;
  }

  input[type=submit]:hover {
    background-color: $main-slider-color;
    color: $content-portfolio-color;
  }


  /*#endregion Form*/

  .weather-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    box-shadow: #3a3a3a 0 0 10px;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: white;
    color: $section-title-color;
    font-family: RobotoSlab, sans-serif;
  }

  .contacts-section__social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 10px 20px 10px; /* check this later !!! */
  }
  .contacts-section__text {
    color: $nav-color;
    font-family: Bazar, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    margin: 5px;
  }

  /*region SocialIcons*/
  .contacts-section__social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px;
  }
  .contacts-section__circle, .contacts-section__border {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $contacts-link-color;
    border-radius: 50%;
  }
  .contacts-section__circle {
    margin: 5px;
    height: 55px;
    width: 55px;
  }
  .contacts-section__border {
    height: 52px;
    width: 52px;
    border: 2px solid #383a3c;
  }
  /*endregion SocialIcons*/

  /*#endregion ContactsSection*/

  /*#region ReusedElements*/
  .section-hr {
    margin: 5px;
    width: 40px;
    border: 0;
    border-top: 3px solid $section-title-color;
  }
  .section-hr-long {
    width: 60px;
  }
  .section-hr-white {
    border-color: $nav-color;
  }
  .section-browse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
  }
  .browse-btn {
    color: $section-title-color;
    font-size: 16px;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
  }
  /*#endregion ReusedElements*/
}

@media only screen and (min-width: 600px) {
  header {
    display: flex;
    justify-content: center;

    nav {
      width: 600px;
      font-size: 16px;
    }
  }
  .header-logo {
    margin-top: 2rem;
    height: 6rem;
    width: 6rem;
    font-size: 56px;
  }

  .slideshow-container {
    width: 600px;
    height: 300px;
  }

  .slider-section__title {
    font-size: 58px;
    font-family: SeasideResortNF, sans-serif;
    color: $nav-color;
  }

  .slider-section__dots {
    display: flex;
  }

}

@media only screen and (min-width: 769px) {
  .header-logo {
    margin-top: 3rem;
    height: 7rem;
    width: 7rem;
    font-size: 62px;
  }

  .slideshow-container {
    width: 700px;
    height: 350px;
  }


  .slider-section__title {
    font-size: 68px;
    font-family: SeasideResortNF, sans-serif;
    color: $nav-color;
  }
  .slider-section__intro {
    font-size: 22px;
  }

  .slider-section__dots {
    display: flex;
  }

}
